
/* .container{
    background-color: whitesmoke;
} */
/* .container {
    background-color: aliceblue;

} */
.category ul li a:focus {

    border-radius: 10px;
  
    background-color: mediumaquamarine;
}


#author-images {
    width: 35px;
    height: 35px;
}

.index-file-news {
    /* font-size: 20px !important; */
    color: red;
}

