
/* .container{
    background-color: whitesmoke;
} */
/* .container {
    background-color: aliceblue;

} */
.category ul li a:focus {

    border-radius: 10px;
  
    background-color: mediumaquamarine;
}


#author-images {
    width: 35px;
    height: 35px;
}

.fa-eye{
    color: green;
}
.fa-star{
    color: gold;
}
.fa-star-half-stroke{
    color: gold;
}

/* .fa-arrow-right{
    color:green;
} */
@media (max-width: 575.98px) {
    .card-images {
        width: 100% !important;

    }

    

    #card-footer-row {
        flex-direction: column;
        justify-content: center;
    }

    .col-3s {
        width: 100%;
    }

        .dynamic-card-img {
            display: flex;
            justify-content: center;
        }

    .cols-inline {
        display: inline;
    }

}